<script src="js/sha256.js"> // Biblioteca com os algorítmos para a geração de hash's
</script> 

<script src="js/broadcast.js"> // Biblioteca com os algorítmos para a distribuição dos blocos na rede.
</script> 

<script> 

const data = 'Principal';

// a função mine deve ser assíncrona pois ela vai ter que esperar com "await" os algorpitmos de criptografia que também sãp assíncronos
async function mine(text) {


var nonce = 0;


var myfetch = await fetch('/localblock', {
	method: 'POST',
	body: 'data='+text+'&timeStamp=12', // The data
	headers: {
		'Content-type': 'application/x-www-form-urlencoded' // The type of data you're sending
	}
});



var jsontext = await myfetch.text();

var jsonf = JSON.parse(jsontext);

var difficulty = parseInt(jsonf.difficulty); // nível de dificuldade da prova de trabalho. 

console.log(jsonf);

var hash = await digestMessage(jsonf.previousHash + jsonf.data + jsonf.timestamp + jsonf.hash + nonce);  // gera o hash

var antes = Date.now();  		// incia contagem de tempo

while (!(/^0*$/.test(hash.substring(0, difficulty)))) {  	// verifica se o hash atende a prova de trabalho
            nonce++;
            hash = await digestMessage(jsonf.previousHash + jsonf.data + jsonf.timestamp + jsonf.hash + nonce);
        }

var duracao = Date.now() - antes;       // finaliza a contagem de tempo

alert("difficultyhash minerado:  " + hash);
alert("Tempo de mineração: " + duracao + " ms ");

var obj = new Object();

obj.previoushash  = jsonf.previousHash;
obj.Hash = jsonf.hash;
obj.data = jsonf.data;
obj.timestamp  = jsonf.timestamp;
obj.nonce = nonce;
obj.difficulty = difficulty;
obj.difficultyHash = hash;

var jsonString = JSON.stringify(obj);

return jsonString;
}

mine(data).then(result =>{ 
alert(result);
return broadcast(result);	// distribuí os dados pela rede.
}).then(
result => {return result.text()
}).then(
result => alert(result)
)

</script>
